

.brand--color {
    color: $brand-color;
  }
  
  .info--color {
    color: $info-color;
  }
  
  .product--color {
    color: $product-color;
  }
  
  .details--color {
    color: $details-color;
  }
  
  .business--color {
    color: $business-color;
  }
  
  .userinput--color {
    color: $userinput-color;
  }
  
  .white--color {
    color: $white-color;
  }
  